body{
    background-color: lightskyblue;
}
h4{
    font-style: italic;
    background-attachment: fixed;
    background-color: cyan;

}
div{
    font-style: oblique;
    background-color: aquamarine;
}